.container{
  margin-left: 20%;
  margin-right: 20%;
  border: 10px inset darkturquoise;
  padding: 20px;
}
.jumbotron{
  height: 80%;
  width: 100%;
}
#guess-display{
 align: center;

}
#guess-remaining{
  font-size: 15pt;
  color: #007399;
}
#wrong-letter{
  font-size: 15pt;
  color: #007399;
}
#guess-display{
  font-size: 15pt;
  color: #007399;
}
#counter-Win{
  font-size: 15pt;
  color: #007399;
}
#counter-Lose{
  font-size: 15pt;
  color: #007399;
}
.display-3{
  text-align: center;
  font-weight: bold;
  color: #002699;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35pt;
}
.lead{
  text-align: center;
  font-weight: bold;
  color: #002699;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25pt;
}

.display{
  text-align: center;
}
#instruction{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5px;
  text-align: center;
  font-size: 18pt;
  color: #007399;
}